<div
  class="flex h-screen w-screen flex-col items-center justify-center bg-gray-200 select-none dark:bg-gray-800"
>
  <div
    class="flex h-[680px] w-[960px] flex-col items-center justify-center rounded-md bg-blue-50 dark:bg-gray-700"
  >
    @for (rows of board(); track $index; let row = $index) {
      <div class="flex w-fit items-center justify-center">
        @for (item of rows; track $index; let col = $index) {
          @if (item.virtual) {
          } @else {
            <div
              (click)="clickCell(item)"
              class="mx-2 my-2 flex h-16 w-16 cursor-pointer items-center justify-center rounded-full"
              [ngClass]="{
                'bg-gradient-to-br from-stone-500 via-slate-500 to-slate-600 dark:from-stone-400 dark:via-slate-400 dark:to-slate-500':
                  !item.empty && !item.virtual,
                'border border-dashed border-gray-800 dark:border-gray-200':
                  item.empty && !item.virtual,
                '!from-stone-400 !via-slate-400 !to-slate-500 dark:!from-stone-300 dark:!via-slate-300 dark:!to-slate-400':
                  item.clicked,
              }"
            >
              @if (canJumpArr()[row][col]) {
                <div
                  class="h-2 w-2 rounded-full bg-green-300 dark:bg-green-500"
                ></div>
              }
            </div>
          }
        }
      </div>
    }
    <div class="mt-5 flex w-full items-center justify-center">
      剩余棋子： {{ remain() }}
    </div>
  </div>
</div>
